:root {
  --backg1: hsl(212, 80%, 50%);
  --backg2: hsl(212, 60%, 50%);
  --backg3: hsl(212, 50%, 50%);
  --button1:hsl(212, 78%, 42%); /* #1867c0; */
  --color1: hsl(212, 38%, 85%);
  --color2: hsl(212, 38%, 85%);
  --color3: #bae67e;
  --color4: #ffcc66;
  --color5: #c3a6ff;
  --color6: #5ccfe6;
  --backg4: #2f3b54;
}

body {
  /* background-color: var(--backg2); */
  background-color: var(--backg4);
  /* color: var(--color1); */
  color: var(--color5);
  font-family: 'Roboto', 'Open Sans', 'Poiret One';
  overflow-wrap: normal;
}

h1, time {
  text-align: center;
  color: var(--color4);
}

time {
  display: block; /* time cannot align without display:block */
  position: relative;
  /* left: 50%;
  transform: translateX(-50%); */
}

article {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  margin: 0 10px 5px 10px;
  padding: 0 10px;
  font-size: 1.1em;
}

p {
  /* text-justify: inter-word; */
  /* text-justify: inter-character; */
  /* text-justify: auto; */
  text-align: left;
  padding-right: 10px;
}

ul, li {
  padding-right: 10px;
}

a {
  color: var(--color3);
}

code {
  color: var(--color6);
  font-size: 1.1em;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
}




/**************************************
 MEDIA QUERIES:
**************************************/

@media (orientation: landscape) {

}

@media (max-height: 770px) {

}

@media (max-width: 770px) {

}

@media (orientation: landscape) and (max-width: 770px) {

}

@media (orientation: landscape) and (max-height: 770px) {

}
